@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/extension";


.modal-overlay {
  @extend %centerized;
  background-color: rgba(0, 0, 0, .45);
  display: flex;
  inset: 0 0 0 0;
  padding: 1rem;
  position: absolute;
}

.input {
  $root: &;
  border-bottom: 1px solid var.$grey-4;
  color: var.$dark-blue-2;
  font-size: func.fluid(16, 1.5vw, 17);
  height: func.rem(50);
  padding-top: func.rem(16);
  transition: border-color .3s ease;;
  width: inherit;

  &.typing,
  &:focus {
    border-color: var.$dark-blue-3;

    + #{$root}__label {
      color: var.$grey-3;
      transform: translate(-8%, -120%) scale(.8);
    }
  }

  &__holder {
    margin-bottom: func.rem(40);
    position: relative;
    width: 100%;
  }

  &__label {
    bottom: func.rem(6);
    color: var.$grey-2;
    font-size: func.fluid(16, 1.5vw, 17);
    left: 0;
    position: absolute;
    pointer-events: none;
    transition: transform .3s ease,
                color .3s ease;
  }
}

.textarea {
  border-bottom: 1px solid var.$grey-4;
  color: var.$dark-blue-2;
  font-size: func.fluid(16, 1.5vw, 17);
  height: func.rem(84);
  resize: none;

  &.typing,
  &:focus {
    
  }

  &__holder {
    margin-bottom: func.rem(48);
    position: relative;
    width: 100%;
  }

  &__label {
    color: var.$grey-2;
    font-size: func.fluid(16, 1.5vw, 17);
    left: 0;
    position: absolute;
    pointer-events: none;
    transition: transform .3s ease,
                color .3s ease;

    span {
      color: var.$grey-4;
      font-size: func.rem(14);
    }
  }
}