@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/extension";


.modal-overlay {
  @extend %centerized;
  background-color: rgba(0, 0, 0, .45);
  display: flex;
  inset: 0 0 0 0;
  padding: 1rem;
  position: absolute;
}

.input {
  @extend %inputs;
  $root: &;
  height: func.rem(50);
  padding-top: func.rem(16);

  &.typing,
  &:focus {

    + #{$root}__label {
      color: var.$grey-3;
      transform: translate(-8%, -120%) scale(.8);
    }
  }

  &:focus {
    border-color: var.$dark-blue-3;
  }

  &__holder {
    @extend %inputs__holder;
    margin-bottom: func.rem(40);
  }

  &__label {
    @extend %inputs__label;
    bottom: func.rem(6);
  }
}

.textarea {
  @extend %inputs;
  $root: &;
  height: func.rem(84);
  padding: func.rem(18) 0 0 0;
  resize: none;

  &.typing,
  &:focus {

    + #{$root}__label {
      color: var.$grey-3;
      transform: translate(-10%, -120%) scale(.8);
    }

  }

  &__holder {
    @extend %inputs__holder;
    margin-bottom: func.rem(48);
  }

  &__label {
    @extend %inputs__label;
    top: func.rem(18);
  }
}

.btn {
  border-radius: func.rem(4);
  font-size: func.fluid(16, 1.7vw, 18);

  &__submit {
    background-color: var.$orange-light;
    color: var.$white;
    padding: func.fluid(12, 1.2vw, 16) func.fluid(12, 1vw, 14);
  }
}