@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/extension";


body {
  font-family: 'Mulish', sans-serif;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

p {
  line-height: 1.5;
}

button,
input,
textarea,
a {
  &:focus-visible {
    outline: 3px dashed var.$orange-dark;
    outline-offset: 2px;
  }
}

button {
  padding: 0;
}

.interface-full-grid {
  display: grid;
  grid-template-rows: minmax(min-content, func.rem(64)) calc(100% - func.rem(64));
  min-height: 100vh;
}

.interface-wrapper {
  align-items: flex-start;
  display: flex;
}

.sidebar {
  background-image: linear-gradient(135deg, var.$dark-blue-3, var.$dark-blue-1);
  inset: auto 0 0 0;
  position: fixed;
  width: 100%;
  
  @include mix.breakpoint-content(var.$sidebar-one) {
    flex: 1 0 func.rem(82);
    height: 100%;
    position: static; 
  }
  
  @include mix.breakpoint-content("medium") {
    flex: 1 0 func.rem(257);
    padding: func.rem(24) func.rem(16) func.rem(16) func.rem(28);
  }
}

.navigation {

  &__heading {
    display: none;
  }

  &__list {
    @extend %centerized;
    height: func.rem(64);
    width: inherit;
  }

  &__list-item {

    &:nth-of-type(2) {
      margin: 0 func.rem(12);
    }
  }

  &__link {
    @extend %column-centerized;
    border-radius: func.rem(4);
    color: var.$grey-5;
    font-size: func.fluid(13, 2vw, 17);
    gap: func.rem(2) 0;
    padding: func.rem(4) 0;
    width: func.rem(88);

    &[aria-current="page"] {
      background-color: var.$dark-blue-2;
      box-shadow: 2px 2px 4px 0px var.$dark-blue-1;
      color: var.$orange-light;

      path {
        fill: var.$orange-light;
      }
    }
  }

  @include mix.breakpoint-content(var.$sidebar-one) {
    height: 100%;
    
    &__list {
      flex-direction: column;
      gap: func.rem(4) 0;
      height: auto;
      padding-top: func.rem(24);
    }

    &__link { 
      padding: func.rem(14) func.rem(12);
      width: auto;

      > svg {
        height: func.rem(26);
        width: func.rem(26);
      }

      > span {
        display: none;
      }
    }
  }

  @include mix.breakpoint-content("medium") {
    
    &__heading {
      display: block;
      color: var.$white;
      font-size: func.rem(14);
      font-weight: 400;
    }
  }
}