@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/extension";


body {
  font-family: 'Mulish', sans-serif;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

p {
  line-height: 1.5;
}

button,
input,
textarea {
  &:focus-visible {
    outline: 3px dashed var.$dark-blue-3;
    outline-offset: 2px;
  }
}