@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;


%centerized {
  align-items: center;
  display: flex;
  justify-content: center;
}

%column-centerized {
  align-items: center;
  display: flex;
  flex-direction: column;
}

%inputs {
  $root: &;
  border-bottom: 1px solid var.$grey-4;
  color: var.$dark-blue-2;
  font-size: func.fluid(16, 1.5vw, 17);
  transition: border-color .3s ease;
  width: inherit;

  &__holder {
    position: relative;
    width: 100%;
  }

  &__label {
    color: var.$grey-2;
    font-size: func.fluid(16, 1.5vw, 17);
    left: 0;
    position: absolute;
    pointer-events: none;
    transition: transform .3s ease,
                color .3s ease;

    span {
      color: var.$grey-4;
      font-size: func.rem(14);
    }
  }
}