
// COLORS
$dark-blue-1: #31314A;
$dark-blue-2: #43435E;
$dark-blue-3: #5C5C81;

$grey-1: #5B5B5B;
$grey-2: #858585;
$grey-3: #8F8F8F;
$grey-4: #A2A2A2;
$grey-5: #C9C9C9;

$orange-dark: #FF7F00;
$orange-light: #FFA246;

$white: #FFFFFF;
$black: #000000;

$github-link: #9181F6;

$error: #FF001A;

$pink: #FFF3E9;

$toast-success-color: #51c049;
$toast-failure-color: #ea5656;

// Specific
$spinner-bg-color: rgba(0, 0, 0, .55);
$spinner-size: 18;
$spinner-color: rgba(255, 255, 255, 1);