@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/extension";


.configure {
  background-color: var.$white;
  border-radius: .25rem;
  flex-basis: func.fluid(352, 48vw, 624);
  padding: func.fluid(40, 5vw, 56) func.fluid(32, 5vw, 80);
  
  &__form {
    @extend %column-centerized;
  }

  &__title {
    color: var.$dark-blue-1;
    font-size: func.fluid(20, 3vw, 28);
    max-width: func.fluid(240, 36vw, 500);
    margin-bottom: func.fluid(16, 3vw, 40 );
    text-align: center;
  }

  &__avatar {
    box-shadow: inset 2px 2px 4px 4px rgba(0, 0, 0, .2);
    border-radius: 50%;
    height: func.rem(128);
    margin: 0 auto;
    width: func.rem(128);

    &-button {
      background: none;
      color: var.$dark-blue-2;
      font-weight: 600;
      font-size: func.rem(18);
    }
  }
}