@use "../Abstract/variables" as var;
@use "../Abstract/functions" as func;
@use "../Abstract/mixins" as mix;
@use "../Abstract/extension";


.configure {
  background-color: var.$white;
  border-radius: .25rem;
  max-width: func.fluid(352, 50vw, 624);
  margin: func.rem(16) auto;
  padding: func.fluid(40, 5vw, 56) func.fluid(32, 5vw, 80);
  width: 100%;

  &__form {
    @extend %column-centerized;
  }

  &__title {
    color: var.$dark-blue-1;
    font-size: func.fluid(20, 3vw, 28);
    max-width: func.fluid(240, 36vw, 500);
    
    text-align: center;
  }

  &__avatar {
    border-radius: 50%;
    height: func.fluid(128, 12.3vw, 160);
    width: func.fluid(128, 12.3vw, 160);
    
    &-holder {
      max-width: max-content;
      margin: func.fluid(16, 3vw, 40 ) auto func.rem(16);
      position: relative;

      &::after {
        content: "";
        border-radius: 50%;
        box-shadow: inset 1px 1px 3px 2px rgba(77, 10, 10, 0.15);
        inset: 0 0 0 0;
        position: absolute;
      }
    }

    &-button {
      background: none;
      color: var.$dark-blue-2;
      font-weight: 600;
      font-size: func.rem(18);
      margin-bottom: func.rem(24);
    }
  }
}